h1 {
display: block;
font-size: 40px;
margin-block-start: 0em;
margin-block-end: 0em;
margin-inline-start: 0px;
font-weight: bold;
letter-spacing: -0.5px;
line-height: 106%;
}
h2 {
display: block;
font-size: 18px;
margin-block-start: 0em;
margin-block-end: 0em;
margin-inline-start: 0px;
font-weight: bold;
letter-spacing: -0.5px;
line-height: 106%;
}
h3 {
display: block;
font-size: 18px;
margin-block-start: 0em;
margin-block-end: 0em;
margin-inline-start: 0px;
font-weight: 400;
letter-spacing: -0.5px;
line-height: 130%;
}
h4 {
display: block;
font-size: 16px;
margin-block-start: 0em;
margin-block-end: 0em;
margin-inline-start: 0px;
font-weight: 400;
letter-spacing: -0.5px;
line-height: 106%;
}
a{
    color: black;
    text-decoration: none;
}
li{
font-size: 18px;
margin-block-start: 0em;
margin-block-end: 0em;
margin-inline-start: 0px;
font-weight: 400;
letter-spacing: -0.5px;
line-height: 130%; 
}