@media (max-width: 1194px) {
    .containergrid{
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(1, 1fr);
    }
    .contpr{
        flex-direction: column;
    }
    .secec,
    .sec,
    .sececede{
        height: 100%;
    }
    .tt{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .ojoj,
    .descriptionprject{
        gap: 8px;
        flex-direction: column;
    }
    .prinf{
        padding-top: 50px;
    }
    .sec img{
        height: 200px;
        object-fit: cover;
    }
}



@media (max-width: 800px) {
    .postition{
        display: none;
    }
    .main_container{
        flex-direction: column;
    }
    .main_containerrrrrr{
        flex-direction: column;
    }
    .aside_part{
        max-width: 100%;
    }
}
