@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
    margin: 0 auto;
    max-width: 1920px;
    font-family: "Inter", sans-serif;
    padding: 24px;
    background-color: #F1F1F1;
}
html{
    scroll-behavior: smooth;
}
button{
    cursor: pointer;
    border: 5px #BEBEBE solid;
    background-color: black;
    border-radius: 40px;
    color: white;
    padding: 16px 20px;
    transition: all 0.3s ease;
}

button:hover{
    background-color: #E56734;
    border: 5px #EECABC solid;
}
button:active{
        background-color: #7c3b21;
}
.gray{
    color: #8a8a8a;
}

.Name{
    display: flex;
    align-items: center;
    gap: 16px;
}
.hovercolor{
    cursor: pointer;
    color: black;
    transition: all 0.3s ease;
}

.hovercolor:hover{
    color: #E56734;
}
.navigaton-content{
    display: flex;
    justify-content:space-between;
}
.hero_container{

    max-width: 800px;
    margin-top: 200px;
}
.hero_container h1{
    padding-bottom: 16px;
}
.description{
    max-width: 900px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 150px;
}
.postition{
    flex-direction: column;
    gap: 8px;
    display: flex;
}
.desc{
    display: flex;
}

.footer_container{
    margin-top: 100px;
}

.line{
    background-color: #797979;
    height: 1px;
    margin: 16px 0px 16px 0px;
    width: 100%;
}
.descasid{
    padding-bottom: 50px;
}
.main_container{
        margin-top: 200px;
}
.main_container{
    gap: 50px;
    display: flex ;
}
.aside_part{
    max-width: 450px;
}
.about_part{
    width: 100%;
}

.educdesc{
    padding-top: 16px;
    display: flex;
}
.educdesc h3{
    max-width: 500px;
}
.wef{
    padding-top: 16px;
}

.containergrid{
    padding-top: 150px;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
}


.project_item img{
    width: 100%;
    object-fit: cover;
}
.project_container{
    width: 100%;
}
.sec img{
    height: 350px;
       object-fit: cover;
}
.secec img{
    height: 200px;
       object-fit: cover;
}
.contpr{
    display: flex;
    gap: 24px;
}
.titl{
    padding-top: 8px;
    display: flex;
    gap: 8px;
}

.sececede img{
    height: 180px !important;
}
.main_container{
    display: flex;
    flex-direction: column;
}
.tt{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.descriptionprject{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.wefwefwef{
    width: 100%;
    display: flex;
    gap: 24px;
    flex-direction: column;
}
.main_containerr{
    padding-top: 200px;
}
.ergttrgfewd{
    opacity: 0.5;
    padding-top: 100px;
}
.ojoj{
    display: flex !important;
    justify-content: space-between !important;
}
.erwgtuytehrg{
    width: 100%;
}

.main_containerrrrrr{
    margin-top: 150px;
    display: flex;
    gap: 24px;
}

.imgcontainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.nextproject{
    padding-top: 100px;
}
.nextproject h1{
    font-size: 60px;
    transition: all 0.3s ease;
}
.nextproject h1:hover{
    color: #E56734;
}

.titl h4{
    color: black;
    transition: color 0.3s ease;
}

.project_item:hover .titl h4{
    color: #E56734;
}
.ojoj a{
    color: black;
    transition: all 0.3s ease;
}
.ojoj a:hover{
    color: #E56734;
}